<div class="container">
  <table class="table table-bordered mt-4 form-table">
    <thead>
    <tr>
      <% if params[:_type] == "working" %>
        <th scope="col" class="bg-secondary">Reporting Manager</th>
      <% end %>
      <% @submissions.first&.data&.keys.each do |key| %>
        <% if params[:_type] == "working" %>
          <% unless ["total", "amount_in_words", "text", "signature"].include? key %>
            <th scope="col" class="bg-secondary"> <%= key.titleize %> </th>
          <% end %>
        <% elsif params[:_type] == "expense" %>
          <% unless ["total", "amount_in_words", "text", "signature"].include? key %>
            <th scope="col" class="bg-secondary"> <%= key.titleize %> </th>
          <% end %>
        <% else %>
          <% unless ["total", "amount_in_words", "text", "signature", "date"].include? key %>
            <th scope="col" class="bg-secondary"> <%= key.titleize %> </th>
          <% end %>
        <% end %>
      <% end %>
      <th scope="col" class="bg-secondary"> Status</th>
    </tr>
    </thead>
    <tbody>
    <% @submissions.each do |submission| %>
      <tr>
        <% if params[:_type] == "working" %>
          <th scope="col"> <%= submission.approved_by %> </th>
        <% end %>
        <% submission.data&.each do |key, value| %>
          <% if params[:_type] == "working" %>
            <% unless ["total", "amount_in_words", "text", "signature"].include? key %>
              <th scope="col"> <%= value %> </th>
            <% end %>
          <% elsif params[:_type] == "expense" %>
            <% unless ["total", "amount_in_words", "text", "signature"].include? key %>
              <th scope="col"> <%= value %> </th>
            <% end %>
          <% else %>
            <% unless ["total", "amount_in_words", "text", "signature", "date"].include? key %>
              <th scope="col"> <%= value %> </th>
            <% end %>
          <% end %>
          <%# end %>


        <% end %>
        <th scope="col"> <%= submission.status %> </th>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

