<div class="d-flex justify-content-end mb-5">
  <%= form_with class: "app-container", url: filtered_submissions_path, method: :get do |f| %>
    <%= f.text_field "reportrange", class: "pull-right", style: "background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 7F0%" do %>
      <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
      <span></span> <b class="caret"></b>
    <% end %>
    <%= f.hidden_field :_type, value: @form._type %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <span><%= f.submit "Submit" %> </span>
  <% end %>
</div>

<script type="text/javascript">
    $(function () {
        var start = moment().subtract(29, 'days');
        var end = moment();

        function cb(start, end) {
            $('#reportrange span').html(start.format('YYYY-MM-DD') + ' - ' + end.format('YYYY-MM-DD'));
        }

        $('#reportrange').daterangepicker({
            startDate: start,
            endDate: end,
            ranges: {
                'Today': [moment(), moment()],
                'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                'This Month': [moment().startOf('month'), moment().endOf('month')],
                'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            }
        }, cb);

        cb(start, end);

    });
</script>