<div class="d-flex justify-content-end " data-controller="date-picker">
  <%= form_with class: "app-container", url: submissions_path, method: :get do |f| %>
    <% if current_user.role == "accountant" %>
      <%= f.select(:user_id, options_for_select(all_employees, params[:user_id]), { include_blank: "Select User" }, { :class => 'select-field' }) %>
    <% end %>
    <%= f.select(:form_id, options_for_select(all_forms, params[:form_id]), { include_blank: "Select Form" }, { :class => 'select-field' }) %>
    <%= f.text_field "reportrange", class: "pull-right select-field" do %>
      <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
      <span></span> <b class="caret"></b>
    <% end %>
    <span><%= f.submit "Submit" %> </span>
  <% end %>
</div>