<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon">home_</span>
  </button>
  <div class="dropdown">
    <i id="dropdownMenuButton1" class="dropdown-toggle fa-solid fa-bars icon" data-bs-toggle="dropdown" aria-expanded="false"></i>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li>
        <div class="dropdown-item">
          <%= link_to "Home", root_path, :class => "btn" %>
        </div>
      </li>
      <% if user_signed_in? %>
        <li>
          <div class="dropdown-item">
            <%= link_to "Edit Profile", edit_user_registration_path, :class => "btn" %>
          </div>
        </li>

        <li>
          <div class="dropdown-item">
            <%= link_to 'Log Out', destroy_user_session_path, :class => "btn", data: { "turbo-method": :delete } %>
          </div>
        </li>

      <% else %>
        <li>
          <div class="dropdown-item">
            <%= link_to "Sign In", new_user_session_path, :class => "btn" %>
          </div>

        </li>
        <li>
          <div class="dropdown-tem">
            <%= link_to "Sign Up", new_user_registration_path, :class => "btn" %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
</div>
