<div class="container mt-5 app-container">
  <div class="row">
    <div class="col-3">
    </div>
    <div class="col-6 d-flex justify-content-center">
      <div class="col-6 d-flex justify-content-center">
        <%= image_tag "site-logo.png", class: "rounded float-start" %>
      </div>
      <div class="col-3"></div>
    </div>
    <div class="row mt-3">
      <span class="d-flex justify-content-center">BrainX Technologies</span>
    </div>
    <div class="row mt-3">
      <h2 class="d-flex justify-content-center">Medical Claim Reimbursement Form</h2>
    </div>

    <div class="row mt-5">
      <div class="col-6">
        <div class="row">
          <div class="col-4">
            <span>Employee Name:</span>
          </div>
          <div class="col-8">
            <span><%= @user.name %></span>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="row">
          <div class="col-4">
            <span>Job Title: </span>
          </div>
          <div class="col-8">
            <span><%= @user.role.titleize %></span>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-6">
        <div class="row">
          <div class="col-4">
            <span>Employee ID :</span></div>
          <div class="col-8 form-header">
            <span><%= @user.emp_id %></span>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="row">
          <div class="col-4">
            <span>Name of Patient :</span>
          </div>
          <div class="col-8">
            <span class="form-header"><%= @submission&.data['name_of_patient'] %></span>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-3">
        <span>Relationship with Employee :</span>
      </div>
      <div class="col-9">
        <span> <%= @submission&.data['relationship_with_employee'] %></span>
      </div>
    </div>

    <table class="table table-bordered mt-4 form-table">
      <thead>
      <tr>
        <% @form.data.keys.each do |key| %>
          <% unless ["relationship_with_employee", "name_of_patient", "text", "date", "signature"].include? key %>
            <th scope="col" class="bg-secondary"> <%= key.titleize %> </th>
          <% end %>
        <% end %>
      </tr>
      </thead>
      <tbody id="medical-table">
      <% @submission.data.except('name_of_patient', 'relationship_with_employee').each do |keys, values| %>
        <tr>
          <% values.each do |key, value| %>
            <td><%= value %></td>
          <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <% if @active_role == "accountants" && @user.role != "accountant" %>
    <div class="d-flex justify-content-center">
      <%= link_to 'Excel', user_submissions_accountants_path(format: :xlsx, user_id: params[:user_id], _type: params[:_type], form_id: params[:form_id], submission_id: @submission.id), class: "btn btn-primary" %>
    </div>
  <% end %>
</div>