<div class="container mt-5 app-container">
  <% if @active_role == "managers" && @submission.user.role != "project_manager" %>
    <div class="d-flex justify-content-end">
      <span class="mx-3"><%= link_to "Approve", set_status_manager_path(user_id: @submission.user.id, status: "approved", submission_id: @submission.id), data: { turbo_method: "post" }, class: "btn btn-primary" %></span>
      <span><%= link_to "Reject", set_status_manager_path(user_id: @submission.user.id, status: "rejected", submission_id: @submission.id), data: { turbo_method: "post" }, class: "btn btn-danger" %></span>
    </div>
  <% end %>
  <div class="row">
    <div class="col-2">
      <%= image_tag "site-logo.png" %>
    </div>
    <div class="col-10 d-flex align-items-center justify-content-start">
      <h1>EMPLOYEE WORKING HOLIDAYS FORM</h1>
    </div>
  </div>

  <div class="d-flex mt-5">
    <div class="col-3">
      <span>Employee Name :</span>
    </div>
    <div class="col-9">
      <span><%= @submission.user.name %></span>
    </div>
  </div>

  <div class="d-flex mt-3">
    <div class="col-3">
      <span>Employee ID :</span>
    </div>
    <div class="col-9">
      <span><%= @submission.user.emp_id %></span>
    </div>
  </div>

  <div class="d-flex mt-4">
    <div class="col-6">
      <div class="d-flex">
        <div class="col-4">
          <span>Department :</span></div>
        <div class="col-8 form-header">
          <span><%= @submission.user.department %></span>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="d-flex">
        <div class="col-4">
          <span>Job Title :</span>
        </div>
        <div class="col-8">
          <span class="form-header"><%= @submission.user.role.titleize %></span>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex">
    <div class="col-3">
      <span>Reporting manager :</span>
    </div>
    <div class="col-9">
      <span><%= @submission.user.manager&.name %></span>
    </div>
  </div>

  <table class="table table-bordered mt-4 form-table">
    <thead>
    <tr>
      <% @submission.form.data.keys.each do |key| %>
        <% unless ["reporting_manager"].include? key %>
          <th scope="col" class="bg-secondary"> <%= key.titleize %> </th>
        <% end %>
      <% end %>
    </tr>
    </thead>
    <tbody id="working-table">
    <% @submission.data.except('reporting_manager').each do |keys, values| %>
      <tr>
        <% values.each do |key, value| %>
          <td><%= value %></td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
  <%= render 'shared/excel' %>
</div>