<div class="container app-container">
  <h2 class="d-flex justify-content-center"><%= @form._type.titleize %></h2>
  <%= render "shared/filter" %>
  <%#= render 'shared/forms-header' %>
  <div class="row">
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Form Types
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><%= link_to "Working", employee_submissions_submissions_path(_type: "working", user_id: @user.id) ,class:"dropdown-item" %></li>
        <li><%= link_to "Medical", employee_submissions_submissions_path(_type: "medical", user_id: @user.id) ,class:"dropdown-item" %></li>
        <li><%= link_to "Expense", employee_submissions_submissions_path(_type: "expense", user_id: @user.id) ,class:"dropdown-item"%></li>
        <li><%= link_to "General", employee_submissions_submissions_path(_type: "general", user_id: @user.id) ,class:"dropdown-item"%></li>
      </ul>
    </div>
  </div>
  <table class="table mt-4 form-table table-hover mt-5">
    <thead>
    <tr>
      <th scope="col" class="bg-secondary">Form Type</th>
      <th scope="col" class="bg-secondary">Creation Date</th>
      <th scope="col" class="bg-secondary">Status</th>
    </tr>
    </thead>
    <tbody>
    <% @submissions.each do |submission| %>
      <tr onclick="location.href='<%= submission_path(submission.id , user_id: @user.id) %>'">
        <td><%= @form._type %></td>
        <td><%= submission.created_at.strftime("%Y-%m-%d") %></td>
        <td><%= submission.status %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>