<div class="container mt-4">
  <div class="row mt-5">
    <div class="col-4">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Working</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <%= link_to "Working", user_submissions_accountants_path(user_id: @user, _type: "working", form_id: 2 ), class: "btn btn-primary" %>
          <div class="d-flex align-items-center justify-content-center"><%=  User.find(params[:id]).submissions.where(form_id: 2, status: "approved").count %></div>
        </div>
      </div>


    </div>
    <div class="col-4">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Medical</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <%= link_to "Medical", user_submissions_accountants_path(user_id: @user, _type: "medical", form_id: 1 ), class: "btn btn-primary" %>
          <div class="d-flex align-items-center justify-content-center"><%=  User.find(params[:id]).submissions.where(form_id: 1).count %></div>
        </div>
      </div>

    </div>
    <div class="col-4">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Expense</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <%= link_to "Expense", user_submissions_accountants_path(user_id: @user, _type: "expense", form_id: 3 ), class: "btn btn-primary" %>
          <div class="d-flex align-items-center justify-content-center"><%=  User.find(params[:id]).submissions.where(form_id: 3).count %></div>
        </div>
      </div>

    </div>
  </div>
</div>