<div class="container app-container">
  <div class="d-flex justify-content-center mt-5">
    <h1>Welcome to Reimbursement Management System </h1>
  </div>

  <div class="d-flex justify-content-center mt-5">
    <h1><%= current_user.role.titleize %></h1>
  </div>
  <div>
    <h2 class="d-flex justify-content-center"><%= @form._type.titleize %></h2>
    <%= render 'shared/filter' %>
    <%= render 'shared/excel' %>
    <%= render 'shared/forms-header' %>
    <%= render 'submissions/table' %>
    <div class="d-flex justify-content-end">
      <p> <span style="font-weight:bold" >Grand total: </span> <%= @submissions.sum(:total)  %></p>
    </div>
  </div>
  <%== pagy_nav(@pagy) %>
</div>

