<%= render "shared/forms-list" %>
<% counter = 0 %>
<div class="container mt-5">
  <%= form_with class: "app-container", url: submissions_path, method: :post do |form| %>
    <div class="d-flex">
      <div class="col-6">
        <div class="d-flex">
          <div class="col-4">
            <%= image_tag "site-logo.png" %>
          </div>
          <div class="col-8 d-flex align-items-center">
            <h3>Expense Claim Form</h3>
          </div>
        </div>
      </div>
      <div class="col-6 d-flex align-items-center justify-content-end mt-5">
        <span>BrainX technologies</span>
      </div>
    </div>

    <div class="d-flex mt-5">
      <div class="col-6">
        <div class="d-flex">
          <div class="col-4">
            <span>Employee Name:</span>
          </div>
          <div class="col-8">
            <span><%= current_user.name %></span>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="d-flex">
          <div class="col-4">
            <span>Job Title: </span>
          </div>
          <div class="col-8">
            <span><%= current_user.role.titleize %></span>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex mt-4">
      <div class="col-6">
        <div class="d-flex">
          <div class="col-4">
            <span>Employee ID :</span></div>
          <div class="col-8 form-header">
            <span><%= current_user.emp_id %></span>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="d-flex">
          <div class="col-4">
            <span>Department :</span>
          </div>
          <div class="col-8">
            <span class="form-header"><%= current_user.department %></span>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex mt-4">
      <div class="col-6">
        <span>Project Name :</span>
        <span class="form-header"><%= form.text_field "data[project_name]", required: true %></span>
        <%= form.hidden_field :_type, value: @form._type %>
      </div>
      <div class="col-6">
      </div>
    </div>

    <div class="d-flex">
      <%= form.file_field :images, multiple: true %>
    </div>

    <table class="table table-bordered mt-4 form-table">
      <thead>
      <tr>
        <% @form.data.keys.each do |key| %>
          <% unless ["project_name"].include? key %>
            <th scope="col" class="bg-secondary"> <%= key.titleize %> </th>
          <% end %>
        <% end %>
      </tr>
      </thead>
      <tbody id="expense-table">
      <tr>
        <% @form.data.each do |key, value| %>
          <% unless ["project_name"].include? key %>
            <td>
              <% if key == "amount" %>
                <%= form.text_field "data[#{counter}][#{key}]", class: "border-none", type: "number", required: true %></td>
              <% else %>
                <%= form.text_field "data[#{counter}][#{key}]", class: "border-none", required: true %></td>
              <% end %>
          <% end %>
        <% end %>
      </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-end" data-controller="hello" data-hello-url-value="<%= @form.data.keys %>" data-hello-counter-value="<%= counter %>" data-hello-type-value="<%= @form._type %>">
      <button type="button" class="btn btn-outline-primary" data-action="click->hello#createElement" data-target="hello.form">Add
        Form Row
      </button>
    </div>
    <div class="d-flex justify-content-center">
      <%= form.submit "Submit", class: "btn btn-outline-primary btn-lg" %>
    </div>
  <% end %>
</div>