<%= render "shared/forms-list" %>

<div class="container mt-5">
  <%= form_with class:"app-container" , url: submissions_path, method: :post do |form| %>
    <div class="row">
      <div class="col-2">
        <%= image_tag "site-logo.png" %>
      </div>
      <div class="col-10 d-flex align-items-center justify-content-start">
        <h1>EMPLOYEE WORKING HOLIDAYS FORM</h1>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-3">
        <span>Employee Name :</span>
      </div>
      <div class="col-9">
        <span><%= current_user.name %></span>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-3">
        <span>Employee ID :</span>
      </div>
      <div class="col-9">
        <span><%= current_user.emp_id %></span>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-6">
        <div class="row">
          <div class="col-4">
            <span>Department :</span></div>
          <div class="col-8 form-header">
            <span><%= current_user.department %></span>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="row">
          <div class="col-4">
            <span>Job Title :</span>
          </div>
          <div class="col-8">
            <span class="form-header"><%= current_user.role.titleize %></span>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-3">
        <span>Reporting manager :</span>
      </div>
      <div class="col-9">
        <span><%= current_user&.manager&.name %></span>
        <%= form.hidden_field :form_id, value: @form.id %>
        <%= form.hidden_field :status, value: 'pending' %>
      </div>
    </div>

    <table class="table table-bordered mt-4 form-table">
      <thead>
      <tr>
        <% @form.data.keys.each do |key| %>
          <% unless ["reporting_manager"].include? key %>
            <% if @form.id == 2 %>
              <% unless ["amount"].include? key %>
                <th scope="col" class="bg-secondary"> <%= key.titleize %> </th>
              <% end %>
            <% else %>
              <th scope="col" class="bg-secondary"> <%= key.titleize %> </th>
            <% end %>
          <% end %>
        <% end %>
      </tr>
      </thead>
      <tbody>
      <tr>
        <% @form.data.each do |key, value| %>
          <% unless ["reporting_manager"].include? key %>
            <% if @form.id == 2 %>
              <% unless ["amount"].include? key %>
                <td>
                  <%= form.text_field "data[#{key}]", class: "border-none" %>
              <% end %>
            <% else %>
              <td>
                <%= form.text_field "data[#{key}]", class: "border-none" %>
            <% end %>
          <% end %>
        <% end %>
      </tr>
      </tbody>
    </table>

    <div>
      <%= form.submit "Submit", class: "btn-primary" %>
    </div>
  <% end %>
</div>