<div class="row">
  <div class="col-12 d-flex justify-content-center mt-5">
    <h1>Logo</h1>
  </div>
  <div class="col-12 d-flex justify-content-center mt-2">
    <h1>BrainX Technologies</h1>
  </div>
  <div class="col-12 d-flex justify-content-center mt-2">
    <h1>Medical Claim Reimbursement Form</h1>
  </div>

</div>



<div class="container">
  <%= form_with url: submissions_path, method: :post do |form| %>
    <div class="card text-center">
      <div class="card-header">
        BrainX Technologies
      </div>
      <div class="card-body">
        <h5 class="card-title">Medical Claim Reimbursement Form</h5>

        <div class="row mt-3">
          <div class="col-3 ">
            <h3>Employee Name:</h3>
          </div>
          <div class="col-3 user-data">
            <h3><%= current_user.name %></h3>
          </div>
          <div class="col-3">
            <h3>Job Title:</h3>
          </div>
          <div class="col-3 user-data">
            <h3> Software Engineer </h3>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-3 ">
            <h3>Employee id:</h3>
          </div>
          <div class="col-3 user-data">
            <h3><%= current_user.emp_id %></h3>
          </div>
          <div class="col-3">
            <%# debugger %>
            <%= @form.data.keys[0] %>
          </div>
          <div class="col-3 user-data">
            <h3> <%= form.text_field "asd" %></h3>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-4">
            <%#debugger %>
            <h3><%= @form.data.keys[1] %></h3>
          </div>
          <div class="col-8 user-data">
            <h3><%= form.text_field "asd" %></h3>
          </div>
        </div>
        <% @form.data.each do |key, value| %>
          <table class="table table-bordered mt-4 form-table">
            <thead>
            <tr>
              <th class="col" scope="col"><%= form.text_field "data[#{key}]" %></th>
            </tr>
            </thead>
          </table>
          <br>

          
          <h5><%= key %></h5>
          <%= form.hidden_field :form_id, value: @form.id %>
          <%= form.text_field "data[#{key}]" %>
          <% end %><%= current_user.name %>
        <%= form.submit %>
  <% end %>current_user.name


  <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
  <div class="card-footer text-muted">
    2 days ago
  </div>
  </div>
</div>


<h1><%= @form._type %></h1>
<h3>Employee Name =  <%= current_user.name %> </h3>
<h3>Employee id = <%= current_user.emp_id %></h3>
<h3>Department = <%= current_user.department %></h3>
<h3>Job Title</h3>

<div>
  <%= form_with url: submissions_path, method: :post do |form| %>
    <% @form.data.each do |key, value| %>
      <h5><%= key %></h5>
      <%= form.hidden_field :form_id, value: @form.id %>
      <%= form.text_field "data[#{key}]" %>
    <% end %>
    <%= form.submit %>
  <% end %>
</div>